.elements {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    gap: 21px 18px;
    width: 69.8%;
    justify-content: center;
}

@media all and (max-width: 600px) {
    .elements {
        gap: 20px;
    }
}