.profile__info {
    width: 60%;
    display: grid;
    grid-template-columns: minmax(200px, min-content) min-content;
    gap: 16px 17px;
    align-items: baseline;
    color: #fff;
    margin-right: 20px;
}

@media all and  (max-width: 850px) {
    .profile__info {
        justify-content: center;
    }
}

@media all and  (max-width: 600px) {
    .profile__info {
        text-align: center;
        gap: 14px 5px;
        margin: 0 auto;
    }
}
